#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  margin-top: 4rem;
}

.title {
  font-size: 2.125rem !important;
  font-weight: 400 !important;
  margin: 0 !important;
}

.linkedinIcon {
  font-size: 2rem;
  color: #0A66C2;
}

.accordionContainer {
  margin-top: 2rem;
}

.mobile-footer-margin {
  height: 3rem;
}
