#root {
  max-width: min(1280px, 95%);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  margin-top: 4rem;
}

.linkedinIcon {
  font-size: 2rem;
  color: #0A66C2;
}

.categoryContainer {
  margin-top: 2rem;
}

.mobile-footer-margin {
  height: 3rem;
}
